body{
    background-color:#f4f4f4f4;
    color:#555555;

    font-family: arial, helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    /* Same as above */
    font: normal 16px Arial, Helvetica, sans-serif;

    line-height: 1.6em; /* Line spacing */
    margin: 0;

}
/* Use a . to modify a class */

.container{
    width: 500px;
    margin: auto;
}

.box-1{
    background-color:#333;
    color: rgba(255, 255, 255, 0.515);
}